* {
   
    font-family: 'Times New Roman', Times, serif;
    

  }
  
  body{
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  /* .container{
    padding: 0 100px 0 100px;
  } */
  
 
  .heading{
    padding-left: 5%;
    font-weight: bolder;
  }

  .sub{
    padding-left: 5%;
  }
  .sub1{
    padding: 3%;
    font-weight: bolder;
  }
  .image{
    padding-left: 7%;
    width: 250px;
    height: 200px;
  }
  .text1{
    padding-left: 3%;
    color: darkslategray;
    font-weight: bolder;
  }
  .text2{
    padding-left: 3%;  
    font-size: 25px;
  }

  .footer{
    background-color: darkslategray;
    text-align: center;
  }