
body{
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.sm_icon{
 
	width: 1%;
	height: 1%;
	/* the height is adjusted automatically*/
  }
  
.image{
	padding: 1%;
	z-index: -1;
	position: relative;

}

.main{
	color: whitesmoke;
	margin-top: -90%;
}

.main .info{
	font-weight: bolder;
	font-size: xx-large;
	font-family: 'Times New Roman', Times, serif;
	padding: 1%;
	color: whitesmoke;
}

.image1{
	margin-left: 5%;
	z-index: 1;
	margin-top: -3%;
	float: left;
	width: 25%;
	height: 25%;
}
.main-info{
	padding: 10%;
}

.info2{
	padding: 5%;
}
.contact-info{
	margin-top: -0%;
	float: right;
	
}

.footer{
	height: 10%;
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-ic a {
  color: #788288;
  text-decoration: none;
}
.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #18bc9c;
  color: white;
  position: relative;
}
.list-ic li::before {
  content: '';
  position: absolute;
  background: #18bc9c;
  z-index: -1;
}
.list-ic.horizontal li {
  display: inline-block;
}
.list-ic.horizontal li span {
  margin: 0 1em;
}
.list-ic.horizontal li::before {
  top: 0.9em;
  left: -25px;
  width: 4em;
  height: 0.2em;
}
.list-ic.vertical {
  padding: 3%;
  margin: 2%;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}
.list-ic.vertical li span {
  margin: 1.4em 0;
}
/* .list-ic.vertical li::before {
  top: -35px;
  left: 13px;
  width: 0.2em;
  height: 4em;
} */
.list-ic li:first-child::before {
  display: none;
}
.list-ic .active {
  background: dodgerblue;
}
.list-ic .active ~ li {
  background: lightblue;
}
.list-ic .active ~ li::before {
  background: lightblue;
}

.guest{
    margin-top: 2%;
    margin-left: 19%;
    font-size: large;
    font-weight: bolder;
}

