
body{
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.sm_icon{
 
	width: 1%;
	height: 1%;
	/* the height is adjusted automatically*/
  }
  
.image{
	padding: 1%;
	z-index: -1;
	position: relative;

}

.main{
	color: whitesmoke;
	margin-top: -90%;
}

.main .info{
	font-weight: bolder;
	font-size: xx-large;
	font-family: 'Times New Roman', Times, serif;
	padding: 1%;
	color: whitesmoke;
}

.image1{
	margin-left: 5%;
	z-index: 1;
	margin-top: -3%;
	float: left;
	width: 25%;
	height: 25%;
}
.main-info{
	padding: 10%;
}

.info2{
	padding: 5%;
}
.contact-info{
	margin-top: -0%;
	float: right;
	
}

.footer{
	height: 10%;
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-ic a {
  color: #788288;
  text-decoration: none;
}
.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #18bc9c;
  color: white;
  position: relative;
}
.list-ic li::before {
  content: '';
  position: absolute;
  background: #18bc9c;
  z-index: -1;
}
.list-ic.horizontal li {
  display: inline-block;
}
.list-ic.horizontal li span {
  margin: 0 1em;
}
.list-ic.horizontal li::before {
  top: 0.9em;
  left: -25px;
  width: 4em;
  height: 0.2em;
}
.list-ic.vertical {
  padding: 3%;
  margin: 2%;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}
.list-ic.vertical li span {
  margin: 1.4em 0;
}
.list-ic.vertical li::before {
  top: -35px;
  left: 13px;
  width: 0.2em;
  height: 4em;
}
.list-ic li:first-child::before {
  display: none;
}
.list-ic .active {
  background: dodgerblue;
}
.list-ic .active ~ li {
  background: lightblue;
}
.list-ic .active ~ li::before {
  background: lightblue;
}

.guest{
    margin-top: 2%;
    margin-left: 19%;
    font-size: large;
    font-weight: bolder;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html{
  scroll-behavior: smooth;
}

.container{
  padding: 0 100px 0 100px;
}

nav ul,
.main-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
body{
  background-color: #252627;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
header logo{
  float: right;
}

header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
  position: relative;
  display: inline inline-block;
}
header nav ul li a{
  height: 50px;
  color: white;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
}
.navbar{
  background-color: #181818;
}

header h1,
header a,
.text p,
.skills h1,
.contact h1{
  color: #707070;
}

li{
  list-style: none;
 
}

a{
  text-decoration: none;
  position: relative;

}

.image{
  width: 450px;
  margin-top: 50px;
  height: 10px;
  position: left;
  margin-left: 50%;
  border-radius: 50%;

}

.about-me-info{
  color: antiquewhite;
  height: calc(60vh - 81.6px);
}
.text{
  /* color: antiquewhite; */
  margin-top: 120px;
}
.text h1{
  color: #fff;
  cursor: context-menu;
}
.text-span{
  display: inline-block;
}

span:hover{
  color: #48CFAD; 
  transition: all.5s;
  
}
span.name{
  color: #ED5565;

}
span.m-left{
  margin-left: -10px;
}

.text p{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}
.text a{
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ED5565;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}
.text a:hover{
  color: #fff;
}
.text a::before{
  content: " ";
  background-color: #ED5565;
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}
.text a:hover::before{
  height: 100%;
}

.about{
  height: 110vh;
  margin-top: 40px;
}

.work h1{
  font-size: 10rem;
  z-index: 0;
  opacity: .1;
}
.about-me-info{
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
  padding: 50px;
  position: relative;
  top: 70px; 
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.about-me-info p{
  font-size: 1.3rem;
  color: #bcbcbc;
}
.skills{
  font-size: 20px;
}
.skills h1{
  margin-top: -190px;
  top: 80px;
  font-size: 40px;
  font-weight: bold;
}
.skills-info{
  font-size: 40px;
  color: #bcbcbc;
  max-width: 800px;
  position: relative;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}
.skills-info ul li{
  font-weight: 500;
  font-size: 40px;
}
.html{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
div[class^="tag-"]{
  clip-path: polygon(75% 0%,100% 50%,75% 100%,0% 100%,0% 50%,0% 0%,);
  width: 120px;
  height: 30px;
  background-color: #1785A7;
  margin-right: 30px;
}
div[class^="tag-"] p{
  color: #fff;
  text-align: left;
  padding-left: 10px;
  font-size: 1.1rem;
  padding-top: 3px;
}
.contact ul{
  display: flex;
  color: #fff;

}
.contact ul li{
  position: relative;
  display: block;
  color: white;
  font-size: 30px;
  height: 60px;
  width: 60px;
  
  
}